<link rel="stylesheet" type="text/css" ng-href='/static/themes/{{ getTheme() }}.css'/>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="app">Poster</a>
    </div>

       <form class="navbar-form navbar-left" style="margin-left: 100px" role="search">
        <div class="form-group">
          <input class="form-control" placeholder="Search" type="text" ng-model="searchQuery">
        </div>
        <button type="submit" class="btn btn-default" ui-sref="app.search({query:searchQuery})">Submit</button>
      </form>

      <div class="collapse navbar-collapse" id="we-are-borg-navbar">
          <ul class="nav navbar-nav pull-right">

              <li class="dropdown" ng-show="isAuthenticated()">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Options <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                  <li ng-repeat="theme in themes"><a href="#" ng-click="changeTheme(theme)">{{ theme }} theme</a></li>
                <li class="divider"></li>
                  <li ng-repeat="language in languages"><a href="#" ng-click="changeLanguage(language)">{{ language }}</a></li>
              </ul>

              <li ng-show="isAuthenticated()"><a ui-sref="app.accounts.detail({username: account.username})">My profile</a></li>
              <li ng-show="isAuthenticated()"><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
              <li ng-show="!isAuthenticated()"><a ui-sref="app.login">Login</a></li>
              <li ng-show="!isAuthenticated()"><a ui-sref="app.register">Register</a></li>
          </ul>
      </div>

  </div>
</nav>
