<div class="col-md-4 col-md-offset-4">
  <div class="well" ng-show="account">
    <form role="form" class="settings" ng-submit="update()">
      <div class="form-group">
        <label for="settings__email">Email</label>
        <input type="text" class="form-control" id="settings__email" ng-model="account.email"/>
      </div>

        <div class="form-group">
            <label for="settings__username">Username</label>
            <input type="text" class="form-control" id="settings__username" ng-model="account.username"/>
        </div>

        <div class="form-group">
            <label for="settings__first-name">First name</label>
            <input type="text" class="form-control" id="settings__first-name" ng-model="account.first_name"/>
        </div>

        <div class="form-group">
            <label for="settings__last-name">Last name</label>
            <input type="text" class="form-control" id="settings__last-name" ng-model="account.last_name"/>
        </div>

        <div class="form-group">
            <label for="settings__description">Description</label>
            <textarea class="form-control" id="settings__description" ng-model="account.description"></textarea>
        </div>

        <div class="form-group">
            <label for="settings__best-quote">Best quote</label>
            <textarea class="form-control" id="settings__best-quote" ng-model="account.best_quote"></textarea>
        </div>

        <div class="form-group">
            <label for="settings__interests">Interests</label>
            <textarea class="form-control" id="settings__interests" ng-model="account.interests"></textarea>
        </div>

        <div class="form-group">
            <label for="settings__password">New Password</label>
            <input type="password" class="form-control" id="settings__password" ng-model="account.password"/>
        </div>

        <div class="form-group">
            <label for="settings__confirm-password">Confirm Password</label>
            <input type="password" class="form-control" id="settings__confirm-password" ng-model="account.confirm_password"/>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-danger pull-right" ng-click="destroy()">Delete Account</button>
        </div>
    </form>
  </div>
</div>
