<div>
  <div class="well" ng-show="account">
    <form role="form" class="settings" ng-submit="update()">
      <div class="form-group">
        <label for="settings__email" translate>Email</label>
        <input type="text" class="form-control" id="settings__email" ng-model="account.email"/>
      </div>

        <div class="form-group">
            <label for="settings__username" translate>Username</label>
            <input type="text" class="form-control" id="settings__username" ng-model="account.username"/>
        </div>

        <div class="form-group">
            <label for="settings__first-name" translate>First name</label>
            <input type="text" class="form-control" id="settings__first-name" ng-model="account.first_name"/>
        </div>

        <div class="form-group">
            <label for="settings__last-name" translate>Last name</label>
            <input type="text" class="form-control" id="settings__last-name" ng-model="account.last_name"/>
        </div>

        <div class="form-group">
            <label for="settings__description" translate>Description</label>
            <textarea class="form-control" id="settings__description" ng-model="account.description"></textarea>
        </div>

        <div class="form-group">
            <label for="settings__best-quote" translate>Best quote</label>
            <textarea class="form-control" id="settings__best-quote" ng-model="account.best_quote"></textarea>
        </div>

        <div class="form-group">
            <label for="settings__interests" translate>Interests</label>
            <textarea class="form-control" id="settings__interests" ng-model="account.interests"></textarea>
        </div>

        <div class="form-group">
            <label for="settings__password" translate>New Password</label>
            <input type="password" class="form-control" id="settings__password" ng-model="account.password"/>
        </div>

        <div class="form-group">
            <label for="settings__confirm-password" translate>Confirm Password</label>
            <input type="password" class="form-control" id="settings__confirm-password" ng-model="account.confirm_password"/>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary pull-right" translate>Submit</button><br>
        </div>
    </form>
  </div>
</div>
