{% load compress %}
{% load staticfiles %}

{% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/snackbarjs/dist/snackbar.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/snackbarjs/themes-css/material.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/ng-tags-input/ng-tags-input.bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/ng-tags-input/ng-tags-input.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/jqcloud2/dist/jqcloud.min.css' %}" />
{% endcompress %}
