<div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" translate>Most popular posts</h3>
      </div>
      <div class="panel-body">
          <div ng-repeat="post in posts | orderBy:'rating':true">
              <div class="col-md-10"><a ui-sref="app.posts.detail({id:post.id})">{{ post.name | limitTo:35 }}</a></div>
              <div class="col-md-2"><span class="badge">{{ post.rating | number:2 }}</span></div>
              <br><hr>
          </div>
      </div>
    </div>
</div>