<div class="row">
  <div class="col-md-6 col-md-offset-6">
    <h1>Login</h1>
    <div class="well">
      <form role="form" ng-submit="vm.login()">
        <div class="alert alert-danger" ng-show="error" ng-bind="error"></div>

        <div class="form-group">
          <label for="login__email" translate>Email</label>
          <input type="text" class="form-control" id="login__email" ng-model="vm.email" placeholder="ex. vlad@gmail.com" />
        </div>

        <div class="form-group">
          <label for="login__password" translate>Password</label>
          <input type="password" class="form-control" id="login__password" ng-model="vm.password" placeholder="ex. password" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary pull-right">Submit</button><br>
        </div>
      </form>
    </div>
      <div>
          <img src="http://res.cloudinary.com/dyyrfcyxa/image/upload/c_scale,w_125,h_125/v1456112288/square-facebook-512_ticn8p.png"
               ng-click="vm.oauthLogin('facebook')">
          <img src="http://res.cloudinary.com/dyyrfcyxa/image/upload/c_scale,w_125,h_125/v1456112260/twitter-logo-icon-by-jon-bennallick-02_t2cd57.png"
               ng-click="vm.oauthLogin('twitter')">
          <img src="http://res.cloudinary.com/dyyrfcyxa/image/upload/c_scale,w_125,h_125/v1456112232/p1_2018425_81e7cbc2_qxbns2.jpg"
               ng-click="vm.oauthLogin('vk-oauth2')">
      </div>
  </div>
</div>
